{{#each announcements as |announcement|}}
  <section class='announcment'>
    <div class="announcment-inner">
      {{#link-to "announcement" announcement}}
        <div class="announcment-bg" style={{announcement.bgStyle}}></div>
        <h4 class="ann__subtitle">{{announcement.category}}</h4>
        <h3 class="ann__title">{{announcement.name}}</h3>
        <date class="ann__time">{{announcement.formattedDate}}</date>
      {{/link-to}}
    </div>
  </section>
{{/each}}


<section class='announcment'>
  <div class="announcment-inner ann-fake">
  </div>
</section>


{{calendar-events}}

{{x-chat}}
