extends layout/default

block content
  .wrap
    //- .main-info info

    .additional-players
      a.ap-tunein.tooltip-left(
        href="http://tunein.com/radio/Urban-Space-Radio-s246403",
        data-tooltip="Слухати в TuneIn",
        target="_blank")
      a.ap-winamp.tooltip-left(
        href="http://stream.mjoy.ua:8000/urban-space-radio-aac.m3u",
        data-tooltip="Слухати в плеєрі",
        target="_blank")
    //- .main-info info
    h1.main-logo UrbanSpace Radio

    .h-player
      .h-black

      .h-player__btn.state-paying.js-play-btn
        .p-btn
          .p-btn__pause-cont
            .p-btn__pause
          .p-btn__play


      .h-player__desc
        .h-player__now-title Зараз в ефірі
        .h-player__now-singer-and-song
          .h-player__now-singer.js-singer
          .h-player__now-song.js-song


      audio.js-player.player(autoplay)
        source(src="http://stream.mjoy.ua:8000/urban-space-radio", type='audio/mpeg; codecs="mp3"')
        source(src="http://stream.mjoy.ua:8000/urban-space-radio-aac", type='audio/mp4: codecs="mp4a.40.5"')


    .banner
      .banner__radio
      .banner__equalizer

    .socials
      a.soc-fb(href='https://www.facebook.com/urbanspaceradio')
      a.soc-tw(href='https://twitter.com/UrbanSpaceRadio')
      a.soc-gplus(href='https://plus.google.com/share?url=http://mjoy.ua/radio/urban-space-radio/')
      a.soc-youtube(href='https://www.youtube.com/channel/UC3S-OnVsgKDMc_PmQxYeEsA')
      a.soc-4sqr(href='https://foursquare.com/v/urban-space-100/5497cbdc498e778f19bf4ef0')

  footer.main-footer
    .footer-wrap

      .col_1_of_3.main-footer__center
        a.main-footer__site(href='http://warm.if.ua', target='_blank') Warm-city
        a.main-footer__site(href='http://urbanspace.if.ua', target='_blank') Urban Space 100

      .col_1_of_3.main-footer__left
        .made_in Made in Ivano-Frankivsk
        .copyright © 2015 Urban Space Radio. All Rights Reserved

      .col_1_of_3.main-footer__right
        a.webmil(href='http://webmil.eu', target='_blank')

