extends layout/default

block content
  .wrap
    //- .main-info info

    .additional-players
      a.ap-tunein.tooltip-left(
        href="http://tunein.com/radio/Urban-Space-Radio-s246403",
        data-tooltip="Слухати в TuneIn",
        target="_blank")
      a.ap-winamp.tooltip-left(
        href="http://stream.mjoy.ua:8000/urban-space-radio-aac.m3u",
        data-tooltip="Слухати в плеєрі",
        target="_blank")
    //- .main-info info
    h1.main-logo UrbanSpace Radio

    #jquery_jplayer_1.jp-jplayer
    #jp_container_1.h-player.jp-audio-stream(role='application', aria-label='media player')
      .h-black

      .h-player__btn.jp-play(role='button')
        .p-btn
          .p-btn__pause-cont
            .p-btn__pause
          .p-btn__play

      .h-player__desc
        .h-player__now-title Зараз в ефірі
        .h-player__now-singer-and-song
          .h-player__now-singer.js-singer
          .h-player__now-song.js-song
      .jp-no-solution Оновіть браузер

      //- .jp-volume-controls
      //-   button.jp-mute(role='button', tabindex='0') mute
      //-   button.jp-volume-max(role='button', tabindex='0') max volume
      //-   .jp-volume-bar
      //-     .jp-volume-bar-value

    .banner
      .banner__radio
      .banner__equalizer

    .socials
      a.soc-fb(href='https://www.facebook.com/urbanspaceradio', target='_blank')
      a.soc-tw(href='https://twitter.com/UrbanSpaceRadio', target='_blank')
      //- a.soc-gplus(href='https://plus.google.com/share?url=http://mjoy.ua/radio/urban-space-radio/')
      a.soc-youtube(href='https://www.youtube.com/playlist?list=PLBqmdaXxcHUflHgsPE8qEG_7WEqSxz90C', target='_blank')
      a.soc-4sqr(href='https://foursquare.com/v/urban-space-100/5497cbdc498e778f19bf4ef0', target='_blank')
      a.soc-instagram(href='https://www.instagram.com/urbanspaceradio', target='_blank')
      a.soc-mixcloud(href='https://www.mixcloud.com/UrbanSpaceRadio', target='_blank')

    .partners
      a.partner-warm-city(href='http://warm.if.ua', target='_blank')
      a.partner-us-100(href='http://urbanspace.if.ua', target='_blank')
      a.partner-m-joy(href='http://mjoy.ua', target='_blank')

  footer.main-footer
    .footer-wrap

      .col_1_of_2.main-footer__left
        .made_in Made in Ivano-Frankivsk
        .copyright © 2016 Urban Space Radio. All Rights Reserved

      .col_1_of_2.main-footer__right
        a.webmil(href='http://webmil.eu', target='_blank')

